<div class="gallery">
    <img src="/images/compclip.jpeg" alt="computer" />
    <img src="/images/laptopclip.jpeg" alt="Laptop" />
    <img src="/images/smartphclip.jpeg" alt="Smartphone" />
    <img src="/images/smwatchclip.jpeg" alt="Smartwatch" />
</div>