<div class="navBottom">
    <h3 class="menuItem">Desktops</h3>

    <div class="slider">
        <div class="sliderWrapper">
            <div class="sliderItem">
                <img decoding="async" src="/Develop/views/images/comp clip.jpeg" alt="" class="sliderImg" id="desktops">
                <div class="sliderBg"></div>
                <h1 class="sliderTitle">Desktops</br> NEW</br> SEASON</h1>
                <h2 class="sliderPrice">Dell XPS 8960</h2>
                <a href="#product">
                    <button class="buyButton">BUY NOW!</button>