<div class="navBottom">
    <h3 class="menuItem">Laptops</h3>

    </a>
</div>
<div class="sliderItem">
    <img decoding="async" src="../images/laptop clip.jpeg" alt="" class="sliderImg" id="Laptops">
    <div class="sliderBg"></div>
    <h1 class="sliderTitle">Laptops</br> NEW</br> SEASON</h1>
    <h2 class="sliderPrice">Apple MacBook Air M2</h2>
    <a href="#product">
        <button class="buyButton">BUY NOW!</button>
    </a>
</div>