<div class="navBottom">
    <h3 class="menuItem">SmartWatches</h3>

    <div class="sliderItem">
        <img decoding="async" src="../images/smwatch clip.jpeg" alt="" class="sliderImg" id="SmartWatches">
        <div class="sliderBg"></div>
        <h1 class="sliderTitle">SmartWatches</br> NEW</br> SEASON</h1>
        <h2 class="sliderPrice">Fitbit</h2>
        <a href="#product">
            <button class="buyButton">BUY NOW!</button>
        </a>