.gallery {
  display: flex;
  justify-content: center;
  gap: 20px; 
  margin: 20px; 
}

.gallery img {
  width: 300px; 
  height: auto; 
}

html {
    scroll-behavior: smooth;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Palanquin Dark', sans-serif;
    font-family: 'Roboto Slab', serif;

}

body {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background-color: #a5aabf;
    color: white;
    padding: 20px 50px;
}

.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
}

.searchInput {
    border: none;
    background-color: transparent;
}

.searchInput::placeholder {
    color: lightgray;
}

.Clearance {
    font-size: 20px;
    border-bottom: 2px solid rgb(194, 40, 156);
    cursor: pointer;
}

.navBottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem {
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
}

.slider {
    background: url()
    
}

    .sliderWrapper {
        display: flex;
        width: 500vw;
        transition: all 1.5s ease-in-out;
    }

    .sliderItem {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .sliderImg {
        z-index: 1;
      }
      #desktops{
        width: 60rem;
      }
      #laptops{
        width:50rem;
        transform: rotate(20deg);
      }
      #SmartPhones{
        width: 50rem;
        transform: rotate(20deg);
      }
      #SmartWatches{
        width: 50rem;
      }
      .sliderTitle {
        position: absolute;
        top: 10%;
        right: 10%;
        font-size: 60px;
        font-weight: 900;
        text-align: center;
        color: rgb(44, 182, 32);
        z-index: 1;
      }

      .sliderPrice {
        position: absolute;
        top: 10%;
        left: 10%;
        font-size: 60px;
        font-weight: 300;
        text-align: center;
        color: white;
        border: 1px solid gray;
        z-index: 1;
      }

      .buyButton {
        position: absolute;
        top: 50%;
        right: 10%;
        font-size: 30px;
        font-weight: 900;
        color: white;
        border: 1px solid gray;
        background-color: black;
        z-index: 1;
        cursor: pointer;
      }
      
      .buyButton:hover {
        background-color: white;
        color: black;
      }

      footer{
        flex-direction: column;
        align-items: center;
      }
    
      .footerLeft{
        padding: 20px;
        width: 90%;
      }
    
      .footerRight{
        padding: 20px;
        width: 90%;
        align-items: center;
        background-color: whitesmoke;
      }
